:root{
    --bg_body: #f8f9fa;
    --bg_sidebar: #051e34;
}

body{
    background-color: var(--bg_body);
}

#site_header{
    height: 70px;
    background-color: var(--bg_body);
}
.wrapper{
    margin-top: 70px;
}

.sidebar{
    width: 300px;
    height: 924px;
    background-color: var(--bg_sidebar);
    background-image: url(../img/sidebar-bg.png);
}

td img{
    width: 7%;
}

#graph{
    width:100%;
}