:root{
    --bg_body: #f8f9fa;
    --bg_sidebar: #051e34;
    --bs-blue-600: #165bba;
}

body{
    background-color: var(--bg_body);
}

#site_header{
    height: 70px;
    background-color: var(--bg_body);
}

#mob_logo{
    width: 40px;
}

.wrapper{
    margin-top: 70px;
}

.sidebar{
    width: 150px;
    height: 924px;
    background-color: var(--bg_sidebar);
    background-image: url(../img/sidebar-bg.png);
}

.banner span{
    background-color: #165bba;
}

.offcanvas{
    width: 50% !important;
}

td img{
    width: 5%;
}

#graph{
    width:100%;
}