:root{
    --bg_body: #f8f9fa;
    --bg_sidebar: #051e34;
    --bs-blue-600: #165bba;
}

body{
    background-color: var(--bg_body);
}

#site_header{
    background-color: var(--bg_body);
}

#mob_logo{
    width: 40px;
}

.wrapper{
    height: calc(100vh - 70px)
}

.sidebar{
    width: 70px;
    height: 100%;
    background-color: var(--bg_sidebar);
    background-image: url(../img/sidebar-bg.png);
    padding-left: 20px;
}

.banner span{
    background-color: #165bba;
}

td img{
    width: 3.125rem;
}

#graph{
    width:100%;
}

@media screen and (min-width:576px) {
    .offcanvas{
        width: 100% !important;
    }
}

@media screen and (min-width: 768px) {
    .offcanvas{
        width: 100% !important;
    }
}

@media screen and (min-width: 1200px) {
    .sidebar-lg{
        width: 150px;
        height: 100%;
        background-color: var(--bg_sidebar);
        background-image: url(../img/sidebar-bg.png);
        margin-left: -1rem;
    }

    .offcanvas{
        width: 50% !important;
    }
}